#welcome
    padding: 80px 0
    .wid
        width: 580px
        .icon
            i
                font-size: 30px
                color: #d4cece
                margin: 15px 0
    .imgbox
        border-radius: 40px
    .textbox
        padding: 80px
        text-align: start
        h1
            font-weight: 700
            font-size: 30px
        h3
            color: #868686
            margin: 10px 0 30px
            font-size: 20px
            line-height: 1.5
        h2,h6
            margin: 15px 0px
        h2
            font-size: 33px
        h6
            font-size: 18px
        .btn
            padding: 10px 30px
            border-radius: 20px
            background-color: #a7b59f
            color: #ffff

    @media screen and ( max-width: 992px )
        .wid
            .icon
                i
                    font-size: 30px
                    color: #f87503
            h1
                font-size: 32px
                padding: 20px 0 30px
            h3
                font-size: 22px
                margin: 0 0 50px
        .textbox
            padding: 50px 0
            text-align: center
            h2
                font-size: 28px
                margin: 0
            h6
                font-size: 18px
                margin: 25px 0 20px
        .minibox
            display: flex
            justify-content: center
            align-items: center
            .imgbox
                width: 500px

    @media screen and ( max-width: 768px )
        .wid
            .icon
                i
                    font-size: 35px
                    color: #f87503
            h1
                font-size: 27px
                padding: 20px 0 30px
            h3
                font-size: 18px
                margin: 0
        .textbox
            padding: 50px 0
            text-align: center
            h2
                font-size: 25px
                margin: 0
            h6
                font-size: 16px
                margin: 25px 0 20px
        .minibox
            display: flex
            justify-content: center
            padding: 50px 0
            .imgbox
                width: 500px

    @media screen and ( max-width: 576px )
        .wid
            .icon
                i
                    font-size: 60px
                    color: #2792ef
            h1
                font-size: 25px
                padding: 20px 0 30px
            h3
                font-size: 25px
                margin: 0
        .textbox
            padding: 50px 0
            text-align: center
            h2
                font-size: 36px
                margin: 0
            h6
                font-size: 22px
                margin: 25px 0 20px
        .minibox
            padding: 50px 0